[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.10"
django-extensions = "==3.1.4"
djangorestframework = "==3.11.2"
psycopg2 = "==2.8.3"
jsonschema = "==4.17.3"

[dev-packages]
werkzeug = "==0.16.0"

[requires]
python_version = "3.9"
